
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^projektywnetrza\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.projektywnetrza\.com$
RewriteRule ^(.*)$ "https\:\/\/projektywnetrza\.com\/$1" [R=301,L]

